<!-- Navigation header -->
<ng-include src=" 'templates/header.html' "></ng-include>

<div class="container" ng-controller="CompraController">
    <form class="form-inline" name="compraForm">
        <fieldset>

            <!-- Titulo do formulario -->
            <legend>Comprar
                <!-- Adiciona entrada -->
                <button class="btn btn-success" ng-click="adicionaEntrada()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Adicionar entrada
                </button>
            </legend>

            <div ng-repeat="produto_quantidade in itens_comprados">
                <!-- Produto -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Produto</label>
                    <div class="col-md-4">
                        <select ng-options="produto.nome for produto in todos_produtos" ng-model="produto_quantidade.produto"
                            class="form-control"
                            ng-change="recalculaTotal()">
                        </select>
                    </div>
                </div>

                <!-- Quantidade do produto -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="">Quantidade</label>
                    <div class="col-md-4">
                        <input type="number" min="0" ng-model="produto_quantidade.quantidade" class="form-control"
                        ng-change="recalculaTotal()">
                    </div>
                </div>

                <!-- Remove entrada -->
                <button class="btn btn-danger" ng-click="removeEntrada(produto_quantidade)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <br><br>
            </div>

            <div class="row">
                <p>Total: {{ total | currency : 'R$' }}</p>
                    <br><br><br>
                <div class="col-md-0 col-md-offset-3">
                    
                    <button class="btn btn-success btn-lg" ng-click="finalizaCompra()">Finalizar Compra</button>
                
                    <button class="btn btn-danger btn-lg" ng-click="gotoHome()">Cancelar Compra</button>
                    </div>
            </div>
        </fieldset>
    </form>
</div>
