<!-- Header -->
<link href="css/home.css" rel="stylesheet">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/home">
                <img class="user-logo img-circle" alt="Aroma" src="img/logo.jpg"></img>
            </a>
            <p class="navbar-text navbar-left">Aroma</p>
        </div>

        <!-- Menu -->
        <!-- Venda -->
        <a target="_self" href="#!/venda" class="btn btn-default navbar-left navbar-stuff">
            Vender
        </a>

        <a target="_self" href="#!/compra" class="btn btn-default navbar-left navbar-stuff">
            Comprar
        </a>

        <!-- Lista produtos -->
        <a target="_self" href="#!/produtos" class="btn btn-default navbar-left navbar-stuff">
            Produtos
        </a>

        <!-- Relatorio por periodo
        <a target="_self" href="#!/relatorio/periodo" class="btn btn-default navbar-left navbar-stuff">
            Relatorio Periodo
        </a>


        <a target="_self" href="#!/relatorio/produtos" class="btn btn-default navbar-left navbar-stuff">
            Relatorio Produtos
        </a>
        -->
        <!-- Fim do menu -->

        <a href="#!/" class="btn btn-default navbar-btn navbar-right">Sair</a>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Usuario</a></p>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link"><img src="img/usuario.png" class="user-logo"></img></a>
        </p>
    </div>
</nav>
